/* .css-aym9vq-MuiButtonBase-root-MuiTab-root{
    text-transform: none !important;
    font-size: .75rem !important;
    min-width: 50px !important;
}

.css-aym9vq-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #ff5a60 !important;
} */
